@model Application.ViewModels.FindUserViewModel
@{
    ViewData["Title"] = "Найти пользователя";
    string hasPreviousPage = Model.PageViewModel.HasPreviousPage ? "" : "disabled";
    string hasNextPage = Model.PageViewModel.HasNextPage ? "" : "disabled";
}
<div class="container">
    <form method="get">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" asp-for="Nickname" placeholder="2pac" value="@Model.Nickname">
            <label for="floatingInput" asp-for="Nickname">Псевдоним</label>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Найти</button>
        </div>
    </form>
    @if (Model?.Users.Count == 0)
    {
        <p>Пользователи не найдены</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Аватар</th>
                <th>Псевдоним</th>
                <th>Электронная почта</th>
                <th>Действие</th>
            </tr>
            @foreach (var user in Model?.Users!)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>
                        <img src="@user.UserPhotoUrl" alt="Avatar" width="64px">
                    </td>
                    <td>@user.Nickname</td>
                    <td>@user.Email</td>
                    <td>
                        <a asp-controller="Account" asp-action="Index" asp-route-id="@user.UserName">Профиль</a>
                    </td>
                </tr>
            }
        </table>
        <div class="text-center w-100">
            @if (Model!.PageViewModel != null)
            {
                @if (Model!.PageViewModel.HasPreviousPage)
                {
                    <a asp-action="Index"
                       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                       class="btn btn-outline-dark @hasPreviousPage">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Назад
                    </a>
                }
                @if (Model!.PageViewModel.HasNextPage)
                {
                    <a asp-action="Index"
                       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                       class="btn btn-outline-dark @hasNextPage">
                        Вперед
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </a>
                }
            }
        </div>
    }
</div>