@model Application.ViewModels.ProfileViewModel
@{
    ViewData["Title"] = "Профиль";
}
<div class="container">
    <div class="row rounded-3 block-color p-5">
        <div class="row">
            <div class="col text-center">
                <p>
                    <img src="@Model!.User.UserPhotoUrl" alt="avatar" width="128px" style="border-radius: 50%">
                </p>
                <p>
                    <b>@Model.User.Nickname</b>
                </p>
                <p>@User?.Identity?.Name</p>
                @if (Model.User.UserName == User.Identity?.Name)
                {
                    <a asp-controller="Account" asp-action="Logout" class="btn btn-lg btn-primary">Выйти</a>
                }
                @if (Model.User.UserName != User.Identity?.Name)
                {
                    @if (Model.AddFriend)
                    {
                        <a asp-controller="Account" asp-action="AddFriend" asp-route-id="@Model.User.Id" class="w-25 btn btn-lg btn-primary">Добавить в друзья</a>
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="RemoveFriend" asp-route-id="@Model.User.Id" class="w-25 btn btn-lg btn-primary">Удалить из друзей</a>
                    }
                }
            </div>
        </div>
    </div>
    @if (Model.User.UserName == User.Identity?.Name)
    {
        <div class="row block-color rounded-3 mt-3 p-2">
            <div class="col text-center">
                <a asp-controller="Account" asp-action="Update" class="btn btn-lg btn-primary">Редактировать аккаунт</a>
            </div>
            <div class="col text-center">
                <a asp-controller="Developer" asp-action="Index" class="btn btn-lg btn-primary">Студия разработчика</a>
            </div>
            <div class="col text-center">
                <a asp-controller="Account" asp-action="Library" class="btn btn-lg btn-primary">Ваши ключи</a>
            </div>
        </div>
    }
    <div class="row justify-content-between mt-3">
        <div class="col-8 block-color rounded-3">
            <div class="row mt-3">
                <h2>Библиотека игр</h2>
            </div>
            <div class="row mt-3 p-3">
                @if (Model.Games.Count == 0)
                {
                    <p>Игр то и нет</p>
                }
                else
                {
                    @foreach (var game in Model.Games)
                    {
                        <div class="card block-color mb-3 item bg-opacity-10 border-white">
                            <img src="@game.Cover" width="100" height="200" class="card-img-top mt-3" alt="...">
                            <div class="card-body text-center">
                                <h2 class="card-title">@game.Title</h2>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="col-3 block-color rounded-3 ms-2">
            <div class="row mt-3">
                <h2>
                    Друзья
                    <span>
                        @if (User.Identity?.Name == Model.User.UserName)
                        {
                            <a asp-controller="Account" asp-action="FindUser" class="btn btn-lg btn-primary">Поиск</a>
                        }
                    </span>
                </h2>
            </div>
            <div class="row mt-3">
                @foreach (var friend in Model.Friends)
                {
                    <a asp-controller="Account" asp-action="Index" asp-route-id="@friend.UserName" class="link-no-style">
                        <p>

                            <img src="@friend.UserPhotoUrl" alt="avatar" width="64px" style="border-radius: 50%">

                            <b>
                                <span>@friend.Nickname</span>
                            </b>
                        </p>
                    </a>
                }
            </div>
        </div>
    </div>
</div>