@model List<Game>
@{
    ViewData["Title"] = "Главная";
}

<div class="mt-3">
    <div class="row" style="height: 600px">
        <div class="card mb-3 w-100 block-color justify-content-center align-items-center">
            <div class="d-flex w-100 justify-content-center align-items-center">
                <div class="p-5 flex justify-content-center align-items-center">
                    <h1>
                        <b>SKORPION</b> - это простой способ находить, скачивать и распространять инди-игры онлайн.
                        Являетесь ли вы разработчиком, который хочет загрузить свою игру, или просто кем-то, кто ищет что-то новое, чтобы поиграть.
                    </h1>
                </div>
            </div>
        </div>
    </div>
    @if (Model!.Count != 0)
    {
        <div class="row" style="height: 600px">
            <div class="card mb-3 w-100 block-color">
                <div class="d-flex w-100">
                    <div class="p-5 flex">
                        <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                @{ int index = 0; }
                                @foreach (var item in Model)
                                {
                                    <div class="carousel-item @(index == 0 ? "active" : "")" data-bs-interval="3000">
                                        <div class="mb-3 w-100 block-color border-0">
                                            <div class="row">
                                                <div class="col h-100">
                                                    <img src="@item.Cover" class="img-fluid rounded-start rounded-3" alt="@item.Cover">
                                                </div>
                                                <div class="col">
                                                    <div class="card-body">
                                                        <h5 class="card-title">@item.Title</h5>
                                                        <p class="card-text">@item.Description</p>
                                                        <p class="card-text">
                                                            <small class="text-muted">Релиз @item.ReleaseDate.ToShortDateString()</small>
                                                        </p>
                                                        <p class="card-text">
                                                            <button class="btn btn-primary ml-auto" type="submit">Купить</button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @(index++)
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height: 600px">
            <div class="card mb-3 w-100 block-color">
                <div class="d-flex w-100">
                    <div class="p-5 flex">
                        <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                @{ index = 0; }
                                @foreach (var item in Model)
                                {
                                    <div class="carousel-item @(index == 0 ? "active" : "")" data-bs-interval="3000">
                                        <div class="mb-3 w-100 block-color border-0">
                                            <div class="row">
                                                <div class="col h-100">
                                                    <img src="@item.Cover" class="img-fluid rounded-start rounded-3" alt="@item.Cover">
                                                </div>
                                                <div class="col">
                                                    <div class="card-body">
                                                        <h5 class="card-title">@item.Title</h5>
                                                        <p class="card-text">@item.Description</p>
                                                        <p class="card-text">
                                                            <small class="text-muted">Релиз @item.ReleaseDate.ToShortDateString()</small>
                                                        </p>
                                                        <p class="card-text">
                                                            <button class="btn btn-primary ml-auto" type="submit">Купить</button>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @(index++)
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>